.mainFooterDiv{
background-color: black;
height: 25vh;
color: white;
}
.h3Class{
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}
.h4Class{
    margin-top: 0px;
    margin-bottom: 0px;
}
.footerFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5vw;
}