.mainnav {
  background-image: linear-gradient(to bottom, #051322, #15457c);
  background-size: 100% 450px;
  min-height: 150vh;
  background-repeat: no-repeat;
  margin-top: -53px;
}

.innernav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border: 1px solid white;
  min-height: 50px;
  max-width: 80%;
  margin: auto;
}
.inp{
    border:'2px solid black'
}
.colour{
    color:#65afff
}
