.bookingContDetails{

    /* border: 1px solid black; */
    padding-left: 3vw;
    padding-right: 3vw;
    display: flex;

}

.bookingCont{
    width: 72%;
    margin: 3%;

}

.fromToCont{
    display: flex;
    justify-content: space-between;
    
}


.fromToData{
    width: 8vw;
    color: #EB2026;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2%;
}


.travellerName{

    font-size: 20px;
    font-weight: 700;
    
}

.gpsandRating{

    width: 18vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 1%;

}

.busRating{
    background: linear-gradient(45deg, #40DBA6,#269D96);
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: 600;

}

.viewPolicies{
    color: #3C98FB;
    font-size: 15px;
    font-weight: 600;
}

.passDetailsEachCont{

    margin-top: 30px;
    margin-bottom: 30px;
}


.passDetailsEachContDetails{

    /* border: 1px solid blue; */
    display: flex;
    justify-content: left;
    align-items: center;

    padding: 10px;
    box-shadow: 1px 1px 6px 4px rgba(221, 221, 221, 0.596);
    border-radius: 4px;

}


.allInputBlocks{
    border-radius: 4px;
    border: 1px solid #9b9b9b;
    padding: 11.5px 5px 11.5px 16px;
    margin: 10px;
}


.proceedToPaymentCont{
    border: 1px solid silver;
    padding: 1%;
    padding-right: 2%;
    height: 35vh;
    margin-top: 40px;
    border-radius: 4px;
}

.proceedToPayment{
    width: 100%;
    margin: 3%;
   
}

 .proceed_to_button {
    font-size: 14px;
    padding: 7px 15px;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    overflow: hidden;
    text-decoration: none;
    transition: 0.1s;
    border: none;
    text-align: center;
    background:linear-gradient(45deg,#50AFFE, #095EF4);
    color: #fff;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 17px;

  }
  