.navbr{
    width:70%;
    max-height: 85px;
    min-height: 85px;
    border-radius: 10px;
    margin-top:-40px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    padding-bottom: -20px;
    z-index: 1;
    position: absolute;
    margin-left:180px ;
    box-shadow: 0 4px 4px 0 rgba(51, 50, 50, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.10);
}

.fromto{

    min-width:50%;
    min-height: 230px;
    max-height: 230px;
    border-radius: 10px;
    background-color: white;
    margin:auto;
    border: 1px solid white;
    margin-top:115px;
    z-index: -1;
 
    border: 1px solid black;
}
